<div id="<%= dom_id diagnostic %>">
  <p>
    <strong>User:</strong>
    <%= diagnostic.user_id %>
  </p>

  <p>
    <strong>Raw input:</strong>
    <%= diagnostic.raw_input %>
  </p>

  <p>
    <strong>Gpt response:</strong>
    <%= diagnostic.gpt_response %>
  </p>

  <p>
    <strong>Risk level:</strong>
    <%= diagnostic.risk_level %>
  </p>

</div>
