<p style="color: green"><%= notice %></p>
<h1>ðŸ“… Period Tracker</h1>

<%= month_calendar(events: @logs) do |date, logs_for_day| %>
  <div class="day-box">
    <strong><%= date.strftime("%-d %b") %></strong><br>

    <% if logs_for_day.any? %>
      <ul style="padding-left: 15px; list-style-type: disc;">
        <% logs_for_day.each do |log| %>
          <li>
            <%= link_to "ðŸ“", log_path(log), title: "View Note" %>
            <%= truncate(log.note, length: 30) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%= link_to "âž•", new_log_path(date: date), title: "Add Note" %>
    <% end %>
  </div>
<% end %>
