<p style="color: green"><%= notice %></p>

<h1>📅 Period Tracker</h1>

<div class="calendar-wrapper">
  <%= month_calendar(events: @logs) do |date, logs_for_day| %>
    <div class="day-box <%= 'today' if date == Date.today %>">
      <div class="date-heading">
        <%= date.strftime("%-d %b") %>
        <% if date == Date.today %>
          <span class="today-badge">Today</span>
        <% end %>
      </div>

      <% if logs_for_day.any? %>
        <ul class="logs-list">
          <% logs_for_day.each do |log| %>
            <li>
              📓 <%= link_to truncate(log.note, length: 18), log_path(log), class: "log-link" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="add-log-btn">
          <%= link_to "+ Add", new_log_path(date: date), class: "add-button" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
