<h2>Step 3 of 4: Lifestyle & Family</h2>

<%= form_with model: @diagnostic, url: wizard_path, method: :patch do |form| %>
  <div>
    <%= form.label :stress_level, "Are you often stressed?" %><br>
    <%= form.select :stress_level, ["Yes", "No"] %>
  </div>

  <div style="margin-top: 15px;">
    <%= form.label :cramp_intensity, "How intense are your cramps?" %><br>
    <%= form.select :cramp_intensity, ["None", "Mild", "Moderate", "Severe"] %>
  </div>

  <div style="margin-top: 15px;">
    <%= form.label :family_history, "Do you have a family history of PCOS?" %><br>
    <%= form.select :family_history, ["Yes", "No", "Not Sure"] %>
  </div>

  <div style="margin-top: 25px;">
    <%= form.submit "Next ➡️", class: "btn btn-primary" %>
  </div>
<% end %>
